<div class="grid">
  <div class="toggledList">
    <div>
      <!--<input
        type="checkbox"
        id="scales"
        name="scales"
        [(ngModel)]="relativeToggle"
        (change)="toggleRelative($event)"
      />
      <label for="scales">PPAR Index if the foods are all of 100g fat</label>
    </div>-->
      <div>
        <p>
          Note that some of the fatty acids composition data my be wrong,
          remember to investigate further
        </p>
        <h2>Selected Foods (Sorted by PPAR-Index)</h2>
        <app-food-item
          [setValues]="false"
          [food]="{
      'Food Item': 'Food Name',
      'Fat': 'Fat',
      'SatFa': 'SatFa',
      'SatFaPer': 'SatFa %',
      'MuFa': 'MuFa',
      'MuFaPer': 'MuFa %',
      'PuFa': 'PuFa',
      'PuFaPer': 'PuFa %',
      'PPARIndex': 'PPAR-Index',
    }"
        ></app-food-item>
        <h4 *ngIf="toggledFoods.length < 1">No foods selected...</h4>
        <div *ngFor="let food of toggledFoods">
          <app-food-item
            [fatRelativeToggle]="relativeToggle"
            [sortFunction]="sortToggled"
            [food]="food"
            [toggledFoods]="toggledFoods"
          ></app-food-item>
        </div>
      </div>
      <h2>Search for food:</h2>
      <input (keyup)="search($event)" />
      <app-food-item
        [setValues]="false"
        [food]="{
      'Food Item': 'Food Name',
      'Fat': 'Fat',
      'SatFa': 'SatFa',
      'SatFaPer': 'SatFaPer',
      'MuFa': 'MuFa',
      'MuFaPer': 'MuFaPer',
      'PuFa': 'PuFa',
      'PuFaPer': 'PuFaPer',
      'PPARIndex': 'PPAR-Index',
    }"
      ></app-food-item>
      <div *ngFor="let food of foodsDisplayed">
        <app-food-item
          [fatRelativeToggle]="relativeToggle"
          [sortFunction]="sortToggled"
          [food]="food"
          [toggledFoods]="toggledFoods"
        ></app-food-item>
      </div>
    </div>
  </div>
</div>
